<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      throwExceptions="true">
	<extensions>
		<add assembly ="Core"/>
	</extensions>
	<targets>
		<target name="blackhole" xsi:type="Null"></target>

		<target name="PgSqlLogger" xsi:type="Database" dbProvider="Npgsql.NpgsqlConnection, Npgsql"
			connectionString="Host=localhost;Port=5432;Database=TestDb;Username=postgres;Password=test">
			<commandText>
				INSERT INTO public."Logs"("LogDetail", "Date", "Audit") values(@LogDetail,@Date,@Audit)
			</commandText>

			<parameter name="@LogDetail" layout="${message}" size="4000" parameterType="System.String"></parameter>

			<parameter name="@Date" layout="${date}" parameterType="System.DateTime"></parameter>

			<parameter name="@Audit" layout="${level}" size="50" parameterType="System.String"></parameter>
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Info" writeTo="blackhole" final="true"></logger>
		<logger name="*" levels="Info,Warn,Fatal,Error" writeTo="PgSqlLogger" />
	</rules>

</nlog>