<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      throwExceptions="true">
  <extensions>
    <add assembly ="Core"/>
  </extensions>
  <targets>
    <target name="JsonFileLogger" type="File" fileName="C:\Log\log.json" >
      <layout type='JsonLayout'>
        <attribute name='Date' layout='${longdate}'/>
        <attribute name='Log' layout='${CustomJson}' encode='false'/>
      </layout>
    </target>
    <target name="blackhole" xsi:type="Null"></target>

    <target name="MsSqlLogger"
          xsi:type="Database"
          dbProvider="System.Data.SqlClient"
          connectionString="Data Source=(local); initial catalog=Northwind;User ID=sa;password=test^3;">
      <commandText>       
        INSERT INTO LogJson (LogDetail,Date,Audit) VALUES (@LogDetail,@Date,@Audit)
      </commandText>

      <parameter name="@LogDetail" layout="${CustomJson}" size="4000" parameterType="System.String"></parameter>

      <parameter name="@Date" layout="${date}" parameterType="System.DateTime"></parameter>

      <parameter name="@Audit" layout="${level}" size="50" parameterType="System.String"></parameter>
    </target>

    <target name="PgSqlLogger" xsi:type="Database" dbProvider="Npgsql.NpgsqlConnection, Npgsql"
            connectionString="Host=localhost;Port=5432;Database=Northwind;Username=postgres;Password=test;">
      <commandText>
          INSERT INTO public."Logs"("LogDetail", "Date", "Audit") values(@LogDetail,@Date,@Audit)
      </commandText>
      
      <parameter name="@LogDetail" layout="${CustomJson}" size="4000" parameterType="System.String"></parameter>

      <parameter name="@Date" layout="${date}" parameterType="System.DateTime"></parameter>

      <parameter name="@Audit" layout="${level}" size="50" parameterType="System.String"></parameter>
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Info" writeTo="blackhole" final="true"></logger>
     <logger name="*" levels="Info" writeTo="PgSqlLogger" />
    <logger name="*" levels="Warn,Fatal,Error" writeTo="JsonFileLogger" />    
    <!--<logger name="*" levels="Info" writeTo="MsSqlLogger" />-->   
  </rules>

</nlog>